.welcomeH{
  text-align: center;
}
.printWelcumMsg{
  text-align: center;
}
.headings{
  font-size: 30px;
}
li{
   list-style: none;
}
th {
  border: solid
}
.colour1{
  background-color: green;
}
.colour2{
  background-color: red;
}
.colour3{
  background-color: orange;
}
table{
margin-left: 50px;
}
.resetbtn{
  margin-left: 20px;
}
